[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "spec-fuzzer"]
	path = spec-fuzzer
	url = https://github.com/Blarse/spec-fuzzer.git
[submodule "QEMU-Nyx"]
	path = QEMU-Nyx
	url = https://github.com/nyx-fuzz/QEMU-Nyx
